<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <remove name="OraAspNetConString"/>
    <add
      name="OraAspNetConString"
      connectionString="DATA SOURCE=MBFWEB;USER ID=PAGOS;PASSWORD=PAGOS98$"
      providerName="Oracle.DataAccess.Client"
    />
  </connectionStrings>



  <system.web>
    <membership defaultProvider="OracleMembershipProvider">
      <providers>
        <clear/>
        <add name="OracleMembershipProvider"
             type="Oracle.Web.Security.OracleMembershipProvider, Oracle.Web, Version=2.111.6.20, Culture=neutral, PublicKeyToken=89b483f429c47342"
             connectionStringName="OraAspNetConString"
             applicationName="Pagos"
             enablePasswordRetrieval="true"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="true"
             requiresUniqueEmail="false"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="3"
             minRequiredPasswordLength="0"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression=""
      />
      </providers>
    </membership>

    <roleManager enabled="true" defaultProvider="OracleRoleProvider">
      <providers>
        <clear/>
        <add name="OracleRoleProvider"
             type="Oracle.Web.Security.OracleRoleProvider, Oracle.Web, Version=2.111.6.20, Culture=neutral, PublicKeyToken=89b483f429c47342"
             connectionStringName="OraAspNetConString"
             applicationName="Pagos"
        />
      </providers>
    </roleManager>

  </system.web>

</configuration>